src/main/resources/xsd/Autorizacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autorizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="estado" type="xs:string" />
        <xs:element name="numeroAutorizacion" type="xs:string" />
        <xs:element name="fechaAutorizacion" type="xs:dateTime" />
        <xs:element name="comprobante" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 
